html > body {
	background-color: lightblue;
	color: purple;
	font-size: 18px;
}

.input1, #input_btn, .input2, #calculate {
	margin: 20px 20px;
	width: 200px;
}

form, #log_out {
	border: 2px solid green;
}

#log_out {
	float: right;	
}

#input_btn, #calculate, #log_out, #add {
	background-color: red;
	color: white;
}

#table {
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	border: 1px solid blue;
}


